<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Slider App</title>
</head>
<body>
    <h1>Score Slider App</h1>
    <a href="/score/Silhouette%20Score">Silhouette Score</a>
    <br>
    <a href="/score/Davies-Bouldin%20Index">Davies-Bouldin Index</a>
    <br>
    <a href="/score/Calinski-Harabasz%20Index">Calinski-Harabasz Index</a>
    <br>
    <a href="/score/overall">Overall</a>
</body>
</html>
